@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi Member Welcome</h1>
    <p>Office trip Photos : <a href="https://drive.google.com/drive/folders/1rCB14hZf4UunnvDZTDn-mx293XBQg9q9?usp=sharing">Office trip Photos and Videos</a>.</p>
</div>
